<!DOCTYPE html>
<html>
  <head>
    <title>Medium</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= render 'navigation' %>
    <%= Admin::BaseHelper.render_action_bar(self) %>
    
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
